# Backend
backend/node_modules/
.env.production
backend/.env.test
backend/.env

# Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules/
frontend/dist
dist
frontend/dist-ssr
dist-ssr
*.local
frontend/.env*

# Editor directories and files
node_modules/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env