.home-post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-post-textarea {
  width: 70%;
  height: var(--88px);
  padding: var(--14px);
  font-size: var(--12px);
  border: 2px solid hsl(240, 90%, 3%);
  box-shadow: 0 1px var(--8px) hsl(0, 0%, 60%, 0.15);
  border-radius: var(--10px);
  background-color: hsl(208, 80%, 91%);
  resize: none;
}

.home-post-textarea:focus {
  outline: none;
  border: 2px solid hsl(240, 90%, 15%);
}

.home-post-btn {
  margin-top: var(--16px);
  padding: var(--8px);
  width: var(--88px);
  background-color: hsl(208, 80%, 91%);
  color: hsl(240, 30%, 3%);
  font-weight: 600;
  font-size: var(--12px);
  letter-spacing: 0.3px;
  border: none;
  border-radius: var(--8px);
  cursor: pointer;
}

.home-post-btn:hover {
  filter: brightness(1.2);
  transition: opacity 0.3s ease;
}

.home-post-btn:disabled {
  background-color: hsl(0, 0%, 80%);
  cursor: not-allowed;
  opacity: 0.6;
}

.home-seperator {
  width: 100%;
  margin: var(--14px) 0;
  outline: none;
  border: none;
  height: 0.8px;
  background-color: hsl(208, 80%, 91%);
}

.home-message-container {
  min-height: var(--28px);
}

.home-message {
  margin-top: var(--8px);
  font-size: var(--10px);
  padding: var(--4px);
  text-align: center;
  border-radius: 2px;
}

.home-message.success {
  color: green;
  background-color: hsl(139, 84%, 88%);
}

.home-message.error {
  color: red;
  background-color: hsl(355, 70%, 91%);
}
