.home-post-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--12px);
  gap: var(--16px);
  user-select: text;
  caret-color: transparent;
}

.home-post-item {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  min-height: var(--144px);
  max-height: var(--224px);
  border: none;
  border-radius: var(--10px);
  padding: var(--12px) var(--24px);
  background-color: hsl(208, 80%, 91%);
  color: hsl(240, 30%, 3%);
}

.home-post-user,
.home-post-meta,
.home-post-content,
.home-post-username,
.home-post-comments {
  background-color: transparent;
}
.home-post-user {
  display: flex;
  flex-direction: column;
}

.home-post-username {
  font-size: var(--14px);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.home-post-meta {
  color: hsl(0, 0%, 40%);
  font-size: var(--8px);
  letter-spacing: 0.3px;
  margin-top: 2px;
  margin-left: var(--8px);
  opacity: 0.8;
}

.home-post-content {
  margin-top: var(--10px);
  font-size: var(--12px);
  word-wrap: break-word;
  overflow: auto;
  width: 100%;
}

.home-error-message {
  color: hsl(0, 0%, 80%);
  font-size: var(--14px);
  margin-top: var(--48px);
  text-align: center;
}

.home-post-comments {
  margin-top: auto;
  margin-left: auto;
  color: hsl(0, 0%, 40%);
  opacity: 0.8;
  text-decoration: none;
  font-size: var(--10px);
  cursor: pointer;
  user-select: none;
}

.home-post-comments:hover {
  color: hsla(240, 33%, 3%, 0.8);
  opacity: 1;
  text-decoration: underline;
}
