.layout-app-section {
  padding: var(--48px) var(--100px);
  user-select: text;
  caret-color: transparent;
}

.layout-app-container {
  max-width: var(--880px);
  margin-left: auto;
  margin-right: auto;
}
