.app-auth-section {
  display: flex;
  height: 100dvh;
  user-select: none;
}

.app-auth-left {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-auth-ghost {
  height: 70%;
  max-height: var(--608px);
  width: auto;
  background-color: transparent;
}

.app-auth-right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.app-auth-container {
  color: white;
  padding: var(--4px) var(--24px);
  border: var(--4px) solid hsl(240, 30%, 3%);
  border-radius: var(--32px);
  box-shadow: var(--4px) var(--4px) var(--16px) hsl(0, 0%, 0%);
  width: 100%;
  height: auto;
  max-width: 75%;
  max-height: 60vh;
  min-width: var(--400px);
  min-height: var(--336px);
  display: flex;
  flex-direction: column;
}

.app-auth-container h1 {
  margin-top: var(--14px);
  font-weight: 800;
  font-size: var(--32px);
  letter-spacing: 0.5px;
}

.app-auth-container h2 {
  font-weight: 600;
  font-size: var(--20px);
  margin-top: var(--40px);
  letter-spacing: 0.3px;
}

.app-auth-container h3 {
  font-size: var(--16px);
  margin-top: var(--40px);
}

.app-auth-container button {
  color: white;
  padding: var(--8px);
  width: var(--224px);
  align-self: flex-start;
  border-radius: var(--24px);
  text-align: center;
  font-weight: 500;
  font-size: var(--14px);
  transition: transform 0.6s ease;
  cursor: pointer;
}

#btn-user-create {
  margin-top: var(--24px);
  background-color: hsl(252, 58%, 18%);
  border: var(--4px) solid hsl(252, 58%, 18%);
}

#btn-user-create:hover {
  background-color: hsl(252, 58%, 16%);
  border: var(--4px) solid hsl(252, 58%, 16%);
}

#btn-user-signin {
  margin-top: var(--16px);
  border: var(--4px) solid white;
}

#btn-user-signin:hover {
  background-color: hsla(252, 59%, 16%, 0.3);
}
